parameters:
	ignoreErrors:
		-
			message: "#^Method SandwaveIo\\\\Office365\\\\Library\\\\Observer\\\\Subjects\\:\\:attach\\(\\) has parameter \\$callback with no type specified\\.$#"
			count: 1
			path: src/Library/Observer/Subjects.php

		-
			message: "#^Class SandwaveIo\\\\Office365\\\\Webhook\\\\Webhook is neither abstract nor final\\.$#"
			count: 1
			path: src/Webhook/Webhook.php

		-
			message: "#^Method SandwaveIo\\\\Office365\\\\Webhook\\\\Webhook\\:\\:addEventSubscriber\\(\\) has parameter \\$callback with no type specified\\.$#"
			count: 1
			path: src/Webhook/Webhook.php

